<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.sign.jacky.dao.InstructorMapper">
    <resultMap id="instructorDetail" type="map">
        <result column="teacher_name" property="name"/>
        <result column="teacher_num" property="id"/>
        <result column="teacher_sex" property="gender"/>
        <result column="school_name" property="school"/>
    </resultMap>
    <select id="getIid" resultType="Integer">
        select instructor_id
        from instructor
        where instructor_num=#{id} and instructor_pass=#{password} and school_id=#{schoolId}
    </select>

    <select id="getInstructorDetail" parameterType="int" resultMap="instructorDetail">
        select teacher_name, teacher_num, teacher_sex, school_name
        from instructor i, university u
        where teacher_id = #{allId} and i.school_id = u.school_id
    </select>

    <select id="getMajorListByInstructorId" resultType="com.sign.jacky.entity.Profession">
        select *
        from profession
        where instructor_id = #{instructorId}
    </select>
</mapper>