<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.sign.jacky.dao.StudentMapper">
    <resultMap id="studentDetail" type="map">
        <result column="student_name" property="name"/>
        <result column="student_num" property="id"/>
        <result column="student_sex" property="gender"/>
        <result column="school_name" property="school"/>
    </resultMap>
    <resultMap id="courseList" type="com.sign.jacky.vo.CourseList">
        <result column="student_num" property="studentNum"/>
        <result column="teaching_task_id" property="teachingTaskId"/>
        <result column="teacher_name" property="teacherName"/>
        <result column="course_name" property="courseName"/>
        <result column="course_image" property="courseImage"/>
        <result column="week_time" property="weekTime"/>
        <result column="class_time" property="classTime"/>
        <result column="start_time" property="startTime"/>
        <result column="course_length" property="courseLength"/>
        <result column="teaching_place" property="teachingPlace"/>
    </resultMap>
    <resultMap id="startSignDetail" type="com.sign.jacky.entity.StartSign">
        <result column="start_sign_id" property="startSignId"/>
        <result column="teaching_task_id" property="teachingTaskId"/>
        <result column="sponsor_time" property="sponsorTime"/>
        <result column="route_seq" property="routeSeq"/>

    </resultMap>
    <select id="getSid" resultType="Integer">
        select student_id
        from student
        where student_num=#{id} and student_pass=#{password} and school_id=#{schoolId}
    </select>
    
    <select id="getStudentDetail" parameterType="int" resultMap="studentDetail">
        select student_name, student_num, student_sex, school_name
        from student s, university u
        where student_id = #{allId} and s.school_id = u.school_id
    </select>
    <select id="getCourseListByStudentNum" resultMap="courseList">
        select *
        from course_list
        where student_num = #{studentNum}
    </select>
    <select id="getSidByStudentNumAndSchoolId" resultType="Integer">
        select student_id
        from student
        where student_num = #{studentNum} and school_id = #{schoolId}
    </select>
    <select id="getTeachingTaskIdListBySid" resultType="Object">
        select teaching_task_id
        from select_course
        where student_id = #{studentId}
    </select>
    <select id="getNewestStartSignByTeachingTaskId"
        resultMap="startSignDetail">
        select *
        from start_sign
        where teaching_task_id = #{teachingTaskId}
        order by sponsor_time DESC
        limit 0, 1
    </select>
    <insert id="insertSignInfoBySignIn" parameterType="com.sign.jacky.entity.SignIn">
        insert into sign_in(student_id, teaching_task_id, start_sign_id, sign_in_time, re_sign, state)
        values(#{signIn.studentId},#{signIn.teachingTaskId},
          #{signIn.startSignId}, #{signIn.signInTime},#{signIn.reSign},#{signIn.state})
    </insert>
    <update id="signByStudentIdAndStartSignId" >
        update sign_in
        set sign_in_time = #{signInTime}, state = #{signState}
        where student_id = #{studentId} and start_sign_id = #{startSignId}
    </update>
</mapper>