<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.sign.jacky.dao.StudentMapper">
    <resultMap id="studentDetail" type="map">
        <result column="student_name" property="name"/>
        <result column="student_num" property="id"/>
        <result column="student_sex" property="gender"/>
        <result column="school_name" property="school"/>
    </resultMap>
    <select id="getSid" resultType="Integer">
        select student_id
        from student
        where student_num=#{id} and student_pass=#{password} and school_id=#{schoolId}
    </select>
    
    <select id="getStudentDetail" parameterType="int" resultMap="studentDetail">
        select student_name, student_num, student_sex, school_name
        from student s, university u
        where student_id = #{allId} and s.school_id = u.school_id
    </select>
</mapper>