<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.sign.jacky.dao.TeacherMapper">
    <resultMap id="teacherDetail" type="map">
        <result column="teacher_name" property="name"/>
        <result column="teacher_num" property="id"/>
        <result column="teacher_sex" property="gender"/>
        <result column="school_name" property="school"/>
    </resultMap>
    <resultMap id="teachingList" type="com.sign.jacky.vo.TeachingList">
        <result column="teacher_id" property="teacherId"/>
        <result column="teaching_task_id" property="teachingTaskId"/>
        <result column="course_name" property="courseName"/>
        <result column="course_image" property="courseImage"/>
        <result column="week_time" property="weekTime"/>
        <result column="class_time" property="classTime"/>
        <result column="start_time" property="startTime"/>
        <result column="course_length" property="courseLength"/>
        <result column="teaching_place" property="teachingPlace"/>
    </resultMap>
    <select id="getTid" resultType="Integer">
        select teacher_id
        from teacher
        where teacher_num=#{id} and teacher_pass=#{password} and school_id=#{schoolId}
    </select>

    <select id="getTeacherDetail" parameterType="int" resultMap="teacherDetail">
        select teacher_name, teacher_num, teacher_sex, school_name
        from teacher t, university u
        where teacher_id = #{allId} and t.school_id = u.school_id
    </select>
    <select id="getTeachingListByTeacherNum" resultMap="teachingList">
        select *
        from teaching_list
        where teacher_num = #{teacherNum}
    </select>
    <insert id="startSign" parameterType="com.sign.jacky.entity.StartSign"
        useGeneratedKeys="true" keyProperty="startSign.startSignId">
        insert into start_sign(teaching_task_id, sponsor_time, route_seq)
        value (
          #{startSign.teachingTaskId},#{startSign.sponsorTime},#{startSign.routeSeq}
        )
    </insert>
    <select id="getStudentIdListByTeachingTaskId"
        resultType="Integer">
        select student_id
        from select_course
        where teaching_task_id = #{teachingTaskId}
    </select>
</mapper>